body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

form {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
}

button {
    padding: 10px;
    background: #2c7be5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
